---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
---

<Layout title="About Us | Society of Engineering">
	<main>
		<Navbar currPage='about' /><br /><br />
		<div id="fiv1">
			<h1>What we do</h1>
		</div>
		<table>
			<tbody>
				<tr>
					<td>
						<div class="yell-bround">
							<svg preserveAspectRatio="xMidYMid meet" data-bbox="20.5 38.558 158.9 123.042" viewBox="20.5 38.558 158.9 123.042" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label=""><defs><style>#comp-kkb3fo0c1 svg [data-color="1"] {fill: #000000;}</style></defs>
								<g>
										<path d="M173.1 44.4c-7.1-1.9-43.6-11.1-73.1 1.4-34-15.1-73.9-1.9-74.1-1.9-3.8 1.6-5.4 3.3-5.4 9.9v97.4c0 1.4 1.7 8.3 8.7 7.3 8.2-1.2 43.4-4 56.4-3.3.9 0 1 .2 1.2.3.2.7 2.8 6.1 12.8 6.1 8.3 0 12.5-5.9 12.7-6.1.2 0 2.4.2 2.6.2 13.5.5 40.1 1 54.3 2.3 8 .7 10.2-6.1 10.2-9.9V54.7c-.2-5.7-2.3-9.3-6.3-10.3zm-6.8 11.1v86.3c-19.3-5-42.3-6.8-60.9-1.9V55.5c29.1-10.4 52.1-2.8 60.9 0zm-72-.1v83.9c-12.8-4.9-35.1-4-62.7 2.4V55.4c29.5-7.6 47.9-5.9 62.7 0z" fill="#584998" data-color="1" style="--darkreader-inline-fill: #463a7a;" data-darkreader-inline-fill=""></path>
								</g>
							</svg>
						</div>
					</td>
					<td>
						<h2>Education</h2>
						<p>
							Learning engineering is and will be one of the most important skills a person can have in their lives. Whether you want to be an engineer of not, having a basic knowledge of the world of the future is a must.
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<div class="yell-bround">
							<svg preserveAspectRatio="xMidYMid meet" data-bbox="20.532 45.947 158.928 108.107" viewBox="20.532 45.947 158.928 108.107" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label=""><defs><style>#comp-kkb3553c svg [data-color="1"] {fill: #333333;}</style><style class="darkreader darkreader--sync" media="screen"></style></defs>
								<g>
										<path d="M82.935 75.852l44.836 20.692a4.833 4.833 0 0 0 4.048 0l44.836-20.692a4.828 4.828 0 0 0 0-8.768l-44.836-20.692a4.826 4.826 0 0 0-4.047 0L82.935 67.083a4.828 4.828 0 0 0 0 8.769zm46.86-19.759l33.312 15.374-33.312 15.374-33.312-15.374 33.312-15.374z" fill="#FD6262" data-color="1" style="--darkreader-inline-fill: #fd5f5f;" data-darkreader-inline-fill=""></path>
										<path d="M172.608 95.616l-42.813 19.758-42.813-19.758a4.83 4.83 0 0 0-4.047 8.769l44.836 20.692a4.833 4.833 0 0 0 4.048 0l44.836-20.692a4.83 4.83 0 0 0-4.047-8.769z" fill="#FD6262" data-color="1" style="--darkreader-inline-fill: #fd5f5f;" data-darkreader-inline-fill=""></path>
										<path d="M172.608 124.149l-42.813 19.758-42.813-19.758a4.828 4.828 0 1 0-4.047 8.769l44.836 20.692a4.833 4.833 0 0 0 4.048 0l44.836-20.692a4.83 4.83 0 0 0-4.047-8.769z" fill="#FD6262" data-color="1" style="--darkreader-inline-fill: #fd5f5f;" data-darkreader-inline-fill=""></path>
										<path d="M65.095 95.171H25.368a4.829 4.829 0 1 0 0 9.658h39.727a4.829 4.829 0 1 0 0-9.658z" fill="#FD6262" data-color="1" style="--darkreader-inline-fill: #fd5f5f;" data-darkreader-inline-fill=""></path>
										<path d="M65.095 76.446H37.44a4.829 4.829 0 1 0 0 9.658h27.655a4.829 4.829 0 1 0 0-9.658z" fill="#FD6262" data-color="1" style="--darkreader-inline-fill: #fd5f5f;" data-darkreader-inline-fill=""></path>
										<path d="M65.095 113.897H49.512a4.829 4.829 0 1 0 0 9.658h15.583a4.829 4.829 0 1 0 0-9.658z" fill="#FD6262" data-color="1" style="--darkreader-inline-fill: #fd5f5f;" data-darkreader-inline-fill=""></path>
								</g>
							</svg>
						</div>	
					</td>
					<td>
						<h2>Exposure</h2>
						<p>
							Not everyone knows exactly what they want to do in life. For this reason, we hope to expose our members as much about as many different fields of engineering as we can. There truly is something for everyone!
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<div class="yell-bround">
							<svg preserveAspectRatio="xMidYMid meet" data-bbox="10.2 22 180.709 131.6" viewBox="10.2 22 180.709 131.6" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true" aria-label="">
								<g>
									<path d="M175.6 78.2h-4.9c5.6-4 9.2-10.6 9.2-18 0-12.3-10-22.2-22.2-22.2-12.3 0-22.2 10-22.2 22.2 0 7.4 3.6 14 9.2 18H137c-2.8-6-8.8-10.1-15.8-10.1H114c7-4.4 11.6-12.3 11.6-21.1 0-13.8-11.2-25-25-25s-25 11.2-25 25c0 8.9 4.6 16.7 11.6 21.1h-6.7c-7 0-13 4.2-15.8 10.1h-8.4c5.6-4 9.2-10.6 9.2-18 0-12.3-10-22.2-22.2-22.2C31 38 21.1 48 21.1 60.2c0 7.4 3.6 14 9.2 18h-4.5c-8.6 0-15.6 7-15.6 15.6v56.6c0 1.8 1.5 3.2 3.2 3.2s3.2-1.5 3.2-3.2V93.8c0-5 4.1-9.1 9.1-9.1h37.4v43.9c0 1.8 1.5 3.2 3.2 3.2s3.2-1.5 3.2-3.2V85.5c0-6 4.9-10.9 10.9-10.9H121c6 0 10.9 4.9 10.9 10.9v43.1c0 1.8 1.5 3.2 3.2 3.2s3.2-1.5 3.2-3.2V84.7h37.1c5 0 9.1 4.1 9.1 9.1v56.6c0 1.8 1.5 3.2 3.2 3.2s3.2-1.5 3.2-3.2V93.8c.3-8.6-6.7-15.6-15.3-15.6zM43.3 75.9c-8.7 0-15.8-7.1-15.8-15.8s7.1-15.8 15.8-15.8 15.8 7.1 15.8 15.8S52 75.9 43.3 75.9zm57.3-10.4c-10.2 0-18.5-8.3-18.5-18.5s8.3-18.5 18.5-18.5 18.5 8.3 18.5 18.5-8.2 18.5-18.5 18.5zm57.1 10.4c-8.7 0-15.8-7.1-15.8-15.8s7.1-15.8 15.8-15.8 15.8 7.1 15.8 15.8-7.1 15.8-15.8 15.8z"></path>
								</g>
							</svg>
						</div>
					</td>
					<td>
						<h2>Building Relations</h2>
						<p>
							Being an engineer isn't just about being able to build things or know all the theories of science. It's also necessary to be able to work with a team and build relationships.
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<div class="yell-bround">
							<svg preserveAspectRatio="xMidYMid meet" data-bbox="29.5 29.5 141 141" viewBox="29.5 29.5 141 141" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label="">
								<g>
									<path d="M100 29.5c-38.874 0-70.5 31.626-70.5 70.5s31.626 70.5 70.5 70.5 70.5-31.626 70.5-70.5-31.626-70.5-70.5-70.5zm0 133c-34.463 0-62.5-28.038-62.5-62.5S65.537 37.5 100 37.5s62.5 28.038 62.5 62.5-28.037 62.5-62.5 62.5zm29.8-46.8c-.456.608-11.387 14.9-29.8 14.9s-29.344-14.292-29.8-14.9a4 4 0 0 1 6.393-4.81c.091.12 9.073 11.711 23.407 11.711 14.336 0 23.318-11.594 23.407-11.711a4.006 4.006 0 0 1 5.599-.776 3.994 3.994 0 0 1 .794 5.586zM73.583 80.05c0-3.59 2.877-6.5 6.467-6.5h.066a6.5 6.5 0 1 1 0 13c-3.59 0-6.533-2.91-6.533-6.5zm39.9 0c0-3.59 2.877-6.5 6.467-6.5h.066a6.5 6.5 0 1 1 0 13c-3.59 0-6.533-2.91-6.533-6.5z" fill="#000001" data-color="1" style="--darkreader-inline-fill: #000001;" data-darkreader-inline-fill=""></path>
								</g>
							</svg>
						</div>
					</td>
					<td>
						<h2>Have Fun!</h2>
						<p>
							While learning and applying engineering may be time consuming and difficult at times, having fun is one of our major goals. As the saying goes, "enjoy what you do and you'll never have to work another day in your life". 
						</p>
					</td>
				</tr>
			</tbody>
		</table>
		<div id="div2colum">
			<div id="left-div">
				<h1>Our Story</h1>
			</div>	
			<div id="right-div">
				<p>Society of Engineering is a small volunteering group based in Pleasanton, CA. We started as just an idea on a Friday afternoon, and sprung intro action that very same day!</p><br />
				<p> Society of Engineering is meant to be a place where young students can come to learn about the vast field of engineering, work on projects, make new friends and have fun!</p>
			</div>
		</div>
	</main>
</Layout>

<style>
#fiv1 {
	background-image: url('/bround-abt.jpg');
	background-size: cover;
	padding: 30px;
	font-size: x-large;
	animation: flyin .8s ease-in-out;
}
.yell-bround {
	background-color: #f7d70f;
	border-radius: 10%;
	padding: 10px;
	margin: 10px;
	transition: .5s;
}
.yell-bround:hover {
	transform: scale(1.1);
	transition: .4s;
	border-radius: 13%;
}
svg {
	width: 80px;
	height: 80px;
}
table {
	color: #fff;
	margin: 10px;
	animation: flyin .5s ease-in-out;
	animation-delay: .4s;
	animation-fill-mode: forwards;
	opacity: 0;
}
th, td {
  border: .5px solid #fff;
}
div {
	color: #fff;
}
#left-div {
	background-image: url('/bround-abt2.jpg');
	background-size: cover;
	padding: 30px;
	text-align: center;
	font-size: 3rem;
	border-radius: 10px;
	width: 55%;
}
#right-div {
	padding: 30px;
	text-align: center;
	padding-top: 130px;
	font-size: 1.2rem;
}
#div2colum {
	display: flex;
}
</style>