---
import Layout from '../layouts/Layout.astro';
import Loader from '../components/loader.astro';
---

<Layout title="Admin">
	<form id="login-form">
		<h1>Admin Login</h1>
		<input type="text" id="username" placeholder="Username" required autofocus>
		<input type="password" id="password" placeholder="Password" required>
		<button type="submit">Login</button>
	</form>
	<Loader />
	<div id="main" hidden>
		<h1>"Contact Us" form responses</h1> <button id="mgm">Change password</button>

		<table id="data-table" hidden>
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Message</th>
					<th>IP</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<dialog>
		<button id="close">&#10006;</button>
		<form id="changepwd-form">
			<h1>Change your password</h1>
			<input type="password" id="oldPwd" placeholder="Current password" required autofocus>
			<input type="password" id="newPwd" placeholder="New password" required>
			<button type="submit">Submit</button>
		</form>
	</dialog>
	<footer>&copy;Copyright 2024 Save the Earth Technologies LLC.</footer>
</Layout>

<script src="../scripts/admin.ts"></script>
<style is:global>
	th, td {
		border: 1px solid #fff;
		padding: 8px;
	}

	.del {
		cursor: pointer;
		color: red;
	}
</style>

<style>
	dialog {
		border-radius: 10px;
		border: none;
	}
	dialog::backdrop {
		background-image: linear-gradient(
			45deg,
			magenta,
			rebeccapurple,
			dodgerblue,
			green
		);
		opacity: 0.9;
	}
	table {
		width: 100%;
		border-collapse: collapse;
	}
	footer {
		padding: 5px;
		/* top | left and right | bottom */
		margin: 0 .5rem .55rem;
		background-color: #43494c;
		color: #e8e6e3;
		border-radius: .6rem;
		position: fixed;
		bottom: 0;
		text-align: center;
	}
	
	form {
		width: 250px;
		margin: 0 auto;
		padding: 20px;
		border-radius: 5px;
		background-color: #f8f8f8;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	form h1 {
		text-align: center;
		color: #333;
	}

	form input {
		padding: 10px;
		margin: 10px 0;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	form button {
		padding: 10px;
		border: none;
		border-radius: 5px;
		background-color: #007BFF;
		color: #fff;
		cursor: pointer;
		border: 1px solid #007BFF;
	}

	form button:hover {
		background-color: transparent;
		color: #007BFF;
	}
</style>