---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
---

<Layout title="Contact Us | Society of Engineering">
	<main>
		<Navbar currPage='contact' />
		<div id="div2colum">
			<div id="left-div">
				<h1>Get in <br /> Touch</h1>
			</div>	
			<div id="right-div">
				<div id="loading" hidden>
					Please wait...<div class="loader"></div>
				</div>
				<form>
					<div id="form-div-align">
						<div class="form-div">
							<label for="fname">First Name*</label>
							<input type="text" id="fname" name="fname" required/>
						</div>
						<div class="form-div">
							<label for="lname">Last Name</label>
							<input type="text" id="lname" name="lname"/>
						</div>
					</div>
					<div class="form-div">
						<label for="eml">Email*</label>
						<input type="email" id="eml" name="eml" required/>
					</div>
					<div class="form-div">
						<label for="msg">Message*</label>
						<textarea id="msg" required/>
					</div>
					<input type="submit" value="Submit" id="btn-click"/>
				</form>
			</div>
		</div>
	</main>
</Layout>
<script>
	let f = document.querySelector('form');
	let l = document.getElementById('loading');
	f.addEventListener('submit', (e) => {
		e.preventDefault();
		f.hidden = true;
		l.hidden = false;
		fetch("https://script.google.com/macros/s/AKfycbxSEFrb29Kzd_4XcqXhFK1NMnJUEsiaQNdG_IonLMDO8B5Qc0_T3SfEg9_vSCLC6DJB/exec?etkn=Supersecurevalue", {
      	redirect: "follow",
			method: "POST",
			body: JSON.stringify({ name: document.getElementById('fname').value,
			 lname: document.getElementById('lname').value, 
			 email: document.getElementById('eml').value, 
			 msg: document.getElementById('msg').value 
			}),
			headers: {
				"Content-Type": "text/plain;charset=utf-8",
			},
		}).then(k => k.json()).then((s) => {
			console.log(s);
			l.hidden = true;
			f.reset();
			f.hidden = false;
			alert("Message sent successfully\nWe will get back to you soon!");
		});
	});
</script>

<style>
	#btn-click {
		padding: 5px;
		margin: 10px 0;
		border: 1px solid #ffd300;
		background-color: #ffd300;
		color: #000;
		transition: .5s;
		width: 37vw;
	}
	#btn-click:hover {
		background-color: transparent;
		color: #ffd300;
		transition: .5s;
	}
	#msg {
		padding: 5px;
		border: 1px solid #fff;
		background-color: transparent;
		height: 15vh;
	}
	input {
		padding: 5px;
		margin: 10px 0;
		border: 1px solid #fff;
		background-color: transparent;
		color: #fff;
	}
	input:hover {
		border: 1.5px solid #fff;
	}
	.form-div {
		display: flex;
		flex-direction: column;
	}
	label {
		text-align: left;
	}
	@media (max-width: 480px) {
		#div2colum {
			flex-direction: column;
		}
		#left-div {
			padding: 10vh;
		}
		form {
			padding: 5vh;
		}
	}
	@media (min-width: 480px) {
		#left-div {
			padding: 15vh;
		}
		#right-div {
			padding: 5vh;
		}
		#form-div-align {
			display: flex;
			justify-content: center;
		}
		#fname {
			margin-right: 10px;
			width: 17.5vw;
		}
		#lname {
			width: 17.5vw;
		}
		form {
			padding: 10vh;
		}
		input {
			width: 36.5vw;
		}
		#msg {
			width: 36.5vw;
		}
	}
	#left-div {
		background-image: url('/bround-abt2.jpg');
		background-size: cover;
		padding: 15vh;
		text-align: center;
		font-size: 2rem;
	}
	#right-div {
		text-align: center;
		font-size: 1.2rem;
	}
	#div2colum {
		display: flex;
		top: 6vmin;
		position: relative;
	}
	textarea {
		color: #fff;
	}
	.loader {
		width: 50px;
		height: 50px;
		border: 5px solid #f3f3f3;
		border-radius: 50%;
		border-top-color: #3498db; /* Animation color */
		animation: spin 1s linear infinite;
		display: inline-block;
	}

	@keyframes spin {
		from { transform: rotate(0deg); }
		to { transform: rotate(360deg); }
	}
</style>