---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
import Form from '../components/cs-form.astro';
import Loader from '../components/loader.astro';
---

<Layout title="Contact Us | Society of Engineering">
	<main>
		<Navbar currPage='contact' />
		<div id="div2colum">
			<div id="left-div">
				<h1>Get in <br /> Touch</h1>
			</div>	
			<div id="right-div">
				<Loader />
				<Form />
			</div>
		</div>
	</main>
</Layout>

<style>
	@media (max-width: 480px) {
		#div2colum {
			flex-direction: column;
		}
		#left-div {
			padding: 10vh;
		}
	}
	@media (min-width: 480px) {
		#left-div {
			padding: 15vh;
			padding-top: 25vh;
		}
		#right-div {
			padding: 5vh;
			padding-top: 15vh;
		}
	}
	#left-div {
		background-image: url('/bround-abt2.jpg');
		background-size: cover;
		text-align: center;
		font-size: 2rem;
	}
	#right-div {
		text-align: center;
		font-size: 1.2rem;
		animation: flyin .5s ease-out;
		animation-fill-mode: forwards;
		opacity: 0%;
	}
	#div2colum {
		display: flex;
		top: 6vmin;
		position: relative;
		height: calc(100vh - 7vmin);
	}
</style>