---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
import Form from '../components/cs-form.astro';
---

<Layout title="Contact Us | Society of Engineering">
	<main>
		<Navbar currPage='contact' />
		<div id="div2colum">
			<div id="left-div">
				<h1>Get in <br /> Touch</h1>
			</div>	
			<div id="right-div">
				<div id="loading" hidden>
					Please wait...<div class="loader"></div>
				</div>
				<Form />
			</div>
		</div>
	</main>
</Layout>

<style>
	@media (max-width: 480px) {
		#div2colum {
			flex-direction: column;
		}
		#left-div {
			padding: 10vh;
		}
	}
	@media (min-width: 480px) {
		#left-div {
			padding: 15vh;
		}
		#right-div {
			padding: 5vh;
		}
	}
	#left-div {
		background-image: url('/bround-abt2.jpg');
		background-size: cover;
		padding: 15vh;
		text-align: center;
		font-size: 2rem;
	}
	#right-div {
		text-align: center;
		font-size: 1.2rem;
		animation: flyin .5s ease-out;
		animation-fill-mode: forwards;
		opacity: 0%;
	}
	#div2colum {
		display: flex;
		top: 6vmin;
		position: relative;
	}
	.loader {
		width: 50px;
		height: 50px;
		border: 5px solid #f3f3f3;
		border-radius: 50%;
		border-top-color: #3498db;
		animation: spin 1s linear infinite;
		display: inline-block;
	}

	@keyframes spin {
		from { transform: rotate(0deg); }
		to { transform: rotate(360deg); }
	}
</style>