---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
---

<Layout title="Forum | Society of Engineering">
	<main>
		<Navbar currPage='forum' />
	</main>
</Layout>