---
interface Props {
	title: string,
	description: string,
	icon: string,
	topPadding: string,
	imgWidth: string;
}

const { title, description, icon, topPadding, imgWidth } = Astro.props;
---

<div id="outer">
	<img src={`/icons/${icon}.svg`}>
	<div>
		<h1>{ title }</h1> <br />
		<p>{ description }</p>
	</div>
</div>
<style define:vars={{ topPadding, imgWidth }}>
	@media (max-width: 480px) {
		#outer {
			width: 70vw;
			margin-top: 2vmin;
		}
		p {
			margin-top: -7vmin;
		}
	}
	@media (min-width: 480px) {
		#outer {
			max-width: 15vw;
			margin-left: 5vh;
			margin-top: var(--topPadding);
		}
		p {
			margin-top: -2vmin;
		}
	}
	#outer {
		background-color: #333333;
		padding: 20px;
		min-height: 33vh;
		position: relative;
		border-radius: 1vh;
		transition: .5s;
	}
	#outer:hover {
		transform: scale(1.05);
		transition: .8s;
		opacity: .98;
		background-color: #393939;
		border-radius: 1.5vh;
	}
	img {
		width: var(--imgWidth);
	}
	h1 {
		font-size: x-large;
	}
</style>