<footer>
	Email us at: <a href="mailto:societyofengineering23@gmail.com">societyofengineering23@gmail.com</a>
</footer>

<style>
	footer {
		padding: 5px;
		/* top | left and right | bottom */
		padding: 2.5vh .5rem .55rem;
		border-radius: .6rem;
		bottom: 0;
		text-align: center;
	}
	a {
		text-decoration: none;
		color: #fff;
	}
	a:hover {
		text-decoration: underline;
		color: revert;
	}
</style>