---
import Welcome from "./welcome.astro";
---
<div>
    <Welcome />
</div>

<style>
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        height: 50vh;
        background-image: url("/bround.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: .5vh;
    }
</style>