<div>
	<h1>WELCOME</h1>
	<p>Are you a middle schooler here in Pleasanton? Want to learn more about the limitless possibilities that engineering can bring? You've come to the right place! Society of Engineering is a way for you to do just that.</p>
	<br />
</div>

<style>
	h1 {
		color: #ffd300;
		font-size: 3.5vw;
		animation: flyin 1s ease-in-out;
	}
	p {
		color: #fff;
		font-size: 20px;
		animation: flyin .7s ease-in-out;
		animation-delay: .5s;
		animation-fill-mode: forwards;
		opacity: 0;
	}
	div {
		border-radius: 2vmin;
		width: 50%;
		text-align: center;
		background-color: #000;
		/* top | right | bottom | left */
		padding: 5vh 5vw 5vh 5vw;
		transition: .6s;
	}
	div:hover {
		transform: scale(1.07);
		transition: transform .8s;
		background-color: #070707;
	}
</style>